<h1>All Boards</h1>
<%= form_tag all_boards_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by email or board name" %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<ul>
  <%= render partial: 'board_info', collection: @boards, as: :board %>
</ul>

<%= will_paginate @boards %>

<div class="row show_breadcrums">
  <%= link_to 'Home', root_path, class: 'btn btn-secondary' %> | <%= link_to 'Create New Board', new_board_path, class: 'btn btn-primary' %>
</div>