<h1 class="no_padding"><%= @board.name %></h1>
<p class="extra_board_info">By: <%= @board.email %> @ <%= @board.created_at.strftime("%d %b %Y %H:%M") %></p>

<div class="minesweeper-board">
  <% @board.board_state.each do |row| %>
    <div class="minesweeper-row">
      <% row.each do |cell| %>
        <div class="minesweeper-cell">
          <% if cell == 'X' %>
            <i class="fas fa-bomb mine-color"></i>
          <% else %>
            <i class="fas fa-square"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row show_breadcrums">
  <%= link_to 'Home', root_path, class: 'btn btn-secondary' %> | <%= link_to 'View all generated boards', all_boards_path, class: 'btn btn-info' %> |  <%= link_to 'Create New Board', new_board_path, class: 'btn btn-primary' %>
</div>